In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('Countries_info.csv')

In [3]:
df.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
1,Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500.0,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,6000.0,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298
3,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000.0,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000.0,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Country                             227 non-null    object
 1   Region                              227 non-null    object
 2   Population                          227 non-null    int64
 3   Area (sq. mi.)                      227 non-null    int64
 4   Pop. Density (per sq. mi.)          227 non-null    float64
 5   Coastline (coast/area ratio)        227 non-null    float64
 6   Net migration                       224 non-null    float64
 7   Infant mortality (per 1000 births)  224 non-null    float64
 8   GDP ($ per capita)                  226 non-null    float64
 9   Literacy (%)                        209 non-null    float64
 10  Phones (per 1000)                   223 non-null    float64
 11  Arable (%)                          225 non-null    float64
 12  Crops (%)                           225 non-null    float64
 13  Other (%)                           225 non-null    float64
 14  Climate                             205 non-null    float64
 15  Birthrate                           224 non-null    float64
 16  Deathrate                           223 non-null    float64
 17  Agriculture                         212 non-null    float64
 18  Industry                            211 non-null    float64
 19  Service                             212 non-null    float64
dtypes: float64(16), int64(2), object(2)
memory usage: 35.6+ KB

In [5]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Population,227.0,2.874028e+07,1.178913e+08,7026.000,437624.00000,4786994.000,1.749777e+07,1.313974e+09
Area (sq. mi.),227.0,5.982270e+05,1.790282e+06,2.000,4647.50000,86600.000,4.418110e+05,1.707520e+07
Pop. Density (per sq. mi.),227.0,3.790471e+02,1.660186e+03,0.000,29.15000,78.800,1.901500e+02,1.627150e+04
Coastline (coast/area ratio),227.0,2.116533e+01,7.228686e+01,0.000,0.10000,0.730,1.034500e+01,8.706600e+02
Net migration,224.0,3.812500e-02,4.889269e+00,-20.990,-0.92750,0.000,9.975000e-01,2.306000e+01
Infant mortality (per 1000 births),224.0,3.550696e+01,3.538990e+01,2.290,8.15000,21.000,5.570500e+01,1.911900e+02
GDP ($ per capita),226.0,9.689823e+03,1.004914e+04,500.000,1900.00000,5550.000,1.570000e+04,5.510000e+04
Literacy (%),209.0,8.283828e+01,1.972217e+01,17.600,70.60000,92.500,9.800000e+01,1.000000e+02
Phones (per 1000),223.0,2.360614e+02,2.279918e+02,0.200,37.80000,176.200,3.896500e+02,1.035600e+03
Arable (%),225.0,1.379711e+01,1.304040e+01,0.000,3.22000,10.420,2.000000e+01,6.211000e+01
Crops (%),225.0,4.564222e+00,8.361470e+00,0.000,0.19000,1.030,4.440000e+00,5.068000e+01
Other (%),225.0,8.163831e+01,1.614083e+01,33.330,71.65000,85.700,9.544000e+01,1.000000e+02
Climate,205.0,2.139024e+00,6.993968e-01,1.000,2.00000,2.000,3.000000e+00,4.000000e+00
Birthrate,224.0,2.211473e+01,1.117672e+01,7.290,12.67250,18.790,2.982000e+01,5.073000e+01
Deathrate,223.0,9.241345e+00,4.990026e+00,2.290,5.91000,7.840,1.060500e+01,2.974000e+01
Agriculture,212.0,1.508443e-01,1.467980e-01,0.000,0.03775,0.099,2.210000e-01,7.690000e-01
Industry,211.0,2.827109e-01,1.382722e-01,0.020,0.19300,0.272,3.410000e-01,9.060000e-01
Service,212.0,5.652830e-01,1.658410e-01,0.062,0.42925,0.571,6.785000e-01,9.540000e-01

In [6]:
df.isnull().sum()

Country                                0
Region                                 0
Population                             0
Area (sq. mi.)                         0
Pop. Density (per sq. mi.)             0
Coastline (coast/area ratio)           0
Net migration                          3
Infant mortality (per 1000 births)     3
GDP ($ per capita)                     1
Literacy (%)                          18
Phones (per 1000)                      4
Arable (%)                             2
Crops (%)                              2
Other (%)                              2
Climate                               22
Birthrate                              3
Deathrate                              4
Agriculture                           15
Industry                              16
Service                               15
dtype: int64

In [7]:
# some countries is very small in areas , so  will filled with zero all it's NULL  if the 'Agriculture' is null 
df[df['Agriculture'].isnull()] = df[df['Agriculture'].isnull()].fillna(0)

In [8]:
df.isnull().sum()

Country                                0
Region                                 0
Population                             0
Area (sq. mi.)                         0
Pop. Density (per sq. mi.)             0
Coastline (coast/area ratio)           0
Net migration                          1
Infant mortality (per 1000 births)     1
GDP ($ per capita)                     0
Literacy (%)                          13
Phones (per 1000)                      2
Arable (%)                             1
Crops (%)                              1
Other (%)                              1
Climate                               18
Birthrate                              1
Deathrate                              2
Agriculture                            0
Industry                               1
Service                                1
dtype: int64

In [9]:
# Region has zero Null , so it can be usefull to fill the missing data depending on the 'mean' of each Region

In [10]:
# for climate 
df['Climate']= df['Climate'].fillna(df.groupby('Region')['Climate'].transform('mean'))

In [11]:
# for Literacy (%) 
df['Literacy (%)']= df['Literacy (%)'].fillna(df.groupby('Region')['Literacy (%)'].transform('mean'))

In [12]:
#for Net migration 
df['Net migration']= df['Net migration'].fillna(df.groupby('Region')['Net migration'].transform('mean'))

In [13]:
#for Birthrate
df['Birthrate']= df['Birthrate'].fillna(df.groupby('Region')['Birthrate'].transform('mean'))

In [14]:
# for Net migration
df['Net migration']= df['Net migration'].fillna(df.groupby('Region')['Net migration'].transform('mean'))

In [15]:
#For Infant mortality (per 1000 births)
df['Infant mortality (per 1000 births)']= df['Infant mortality (per 1000 births)'].fillna(df.groupby('Region')['Infant mortality (per 1000 births)'].transform('mean'))

In [16]:
df.isnull().sum()

Country                               0
Region                                0
Population                            0
Area (sq. mi.)                        0
Pop. Density (per sq. mi.)            0
Coastline (coast/area ratio)          0
Net migration                         0
Infant mortality (per 1000 births)    0
GDP ($ per capita)                    0
Literacy (%)                          0
Phones (per 1000)                     2
Arable (%)                            1
Crops (%)                             1
Other (%)                             1
Climate                               0
Birthrate                             0
Deathrate                             2
Agriculture                           0
Industry                              1
Service                               1
dtype: int64

In [17]:
# Can do the same for other but in some countries it different from thier nieghbors so to drop it will be right chose

In [18]:
df = df.dropna()

In [19]:
df.isnull().sum()

Country                               0
Region                                0
Population                            0
Area (sq. mi.)                        0
Pop. Density (per sq. mi.)            0
Coastline (coast/area ratio)          0
Net migration                         0
Infant mortality (per 1000 births)    0
GDP ($ per capita)                    0
Literacy (%)                          0
Phones (per 1000)                     0
Arable (%)                            0
Crops (%)                             0
Other (%)                             0
Climate                               0
Birthrate                             0
Deathrate                             0
Agriculture                           0
Industry                              0
Service                               0
dtype: int64

In [20]:
# It possible to fill the blanks with the before or after data :

In [21]:
# df=df.fillna(method= 'ffill') ----- before data
# df=df.fillna(method= 'bfill') ----- after data
# df=df.fillna(method= 'ffill', axis='columns') ----- to fill it with before column data not the row
# # df=df.fillna(method= 'ffill',limit=1) ----- before data with limit of filling each time = 1 , 2,3 ,,,,n

# Filling by using avarage value

In [22]:
# df =df.interpolate() ---- to fill with avarage value before & after the blank

In [23]:
# ith this type of filling it possible to fill according to the kind of data
# df =df.interpolate(method='time')